Web References/DiacService/DiacWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessTextResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessTextResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessTextSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessText" />
  </wsdl:message>
  <wsdl:message name="ProcessTextSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessTextResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessURLSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessURL" />
  </wsdl:message>
  <wsdl:message name="ProcessURLSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessURLResponse" />
  </wsdl:message>
  <wsdl:portType name="DiacWebServiceSoap">
    <wsdl:operation name="ProcessText">
      <wsdl:input message="tns:ProcessTextSoapIn" />
      <wsdl:output message="tns:ProcessTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessURL">
      <wsdl:input message="tns:ProcessURLSoapIn" />
      <wsdl:output message="tns:ProcessURLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiacWebServiceSoap" type="tns:DiacWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessText">
      <soap:operation soapAction="http://tempuri.org/ProcessText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessURL">
      <soap:operation soapAction="http://tempuri.org/ProcessURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiacWebServiceSoap12" type="tns:DiacWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessText">
      <soap12:operation soapAction="http://tempuri.org/ProcessText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessURL">
      <soap12:operation soapAction="http://tempuri.org/ProcessURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiacWebService">
    <wsdl:port name="DiacWebServiceSoap" binding="tns:DiacWebServiceSoap">
      <soap:address location="http://www.racai.ro:8088/DiacWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="DiacWebServiceSoap12" binding="tns:DiacWebServiceSoap12">
      <soap12:address location="http://www.racai.ro:8088/DiacWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>